<nav class="top-bar">
  <ul>
    <div *ngIf="polishService.polish; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
      <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
      <li><a routerLink="/hobbies" routerLinkActive="active">Hobbies</a></li>
    </ng-template>
    <ng-template #elseBlock>
      <li><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
      <li><a routerLink="/education" routerLinkActive="active">Edukacja</a></li>
      <li><a routerLink="/experience" routerLinkActive="active">Doświadczenie</a></li>
      <li><a routerLink="/hobbies" routerLinkActive="active">Zainteresowania</a></li>
    </ng-template>
  </ul>
</nav>
